

.tab-container {
    display: flex;
    width: 110%;
    margin: auto;
}

.tabs {
    flex: 2;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 10px;
}

.tab-button {
    background-color: inherit;
    border: none;
    padding: 37px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: left;
}

.tab-button:hover {
    background-color: #FFC0CB;
}

.tab-button.active {
    background-color: #FFB6C1;
    font-weight: bold;
}

.tab-content-container {
    flex: 10;
    padding: 30px;
    border-left: 10px solid #DB7093;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}





.form-container {
    width: 50px;
	flex: 20;
    margin: 30px auto;
    padding: 100px;
    background-color: #E6E6FA;
    border-radius: 50px;
	position: relative;
	left: -300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    text-align: center;
    margin-bottom: 15px;
	
    color: #333;
}

.form-container label {
    display: block;
    margin-bottom: 20px;
    color: #555;
}

.form-container input {
    width: 80%;
    padding: 15px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form-container button {
    width: 70%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.form-container button:hover {
    background-color: #0056b3;
}


/* Basic styles for dropdown */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
