/body {
    font-family: Arial, sans-serif;
}

.tab-container {
    display: flex;
    width: 110%;
    margin: auto;
}

.tabs {
    flex: 4;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 10px;
}

.tab-button {
    background-color: inherit;
    border: none;
    padding: 37px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: left;
}

.tab-button:hover {
    background-color: #FFC0CB;
}

.tab-button.active {
    background-color: #FFB6C1;
    font-weight: bold;
}

.tab-content-container {
    flex: 10;
    padding: 30px;
    border-left: 10px solid #DB7093;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}






















* Basic reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Styling the menu icon */
.menu-icon {
    font-size: 30px;
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1;
}

/* Sidebar styling */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;

    background-color: #DDA0DD;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 15px 25px;
    text-decoration: none;
    font-size: 30px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #B0E0E6;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Main content */
.content {
    margin-left: 60px;
    padding: 20px;
}

.container{
display: flex;
justify-content: center;
align-items: center;
height:10vh;
width:10vw
position: relative;
background-color:#f0f8ff;










.get-started-btn {
  position: center;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

.get-started-btn:hover {
    background-color: #0056b3;
}


/* Container for the video on the right side */
.video-container {
    position: absolute;
    right: 0;            /* Aligns the video to the right side of the screen */
    width: 10vw;         /* Adjusts the width of the video container */
    height: 100vh;       /* Makes the video full height of the viewport */
    overflow: hidden;    /* Hides any overflow */
}

.video-container video {
    width: 5%;
    height: 3%;
   
}


