body {
    font-family: Arial, sans-serif;
}

.tab-container {
    display: flex;
    width: 110%;
    margin: auto;
}

.tabs {
    flex: 4;
    display: flex;
    flex-direction: column;
    background-color: #f1f1f1;
    padding: 10px;
}

.tab-button {
    background-color: inherit;
    border: none;
    padding: 37px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-align: left;
}

.tab-button:hover {
    background-color: #FFC0CB;
}

.tab-button.active {
    background-color: #FFB6C1;
    font-weight: bold;
}

.tab-content-container {
    flex: 10;
    padding: 30px;
    border-left: 10px solid #DB7093;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}
